<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.fridaydesigm.plugins.viewport_scale" version="0.9.56" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<!-- remote coment -->
	<name>Viewport Scale</name>
	<description>Viewport Scale</description>
	<license>Apache 2.0</license>
	<js-module name="Viewport Scale" src="www/viewport_scale.js"><clobbers target="cordova.plugins.ViewportScale" />
	</js-module>
		<platform name="ios">
			<config-file parent="/*" target="config.xml">
				<feature name="ViewportScale">
					<param name="ios-package" value="CDVViewportScale" />
					<param name="onload" value="true" />
				</feature>
			</config-file><source-file src="src/ios/viewport_scale.m" />
		</platform>
		<platform name="android">
			<config-file parent="/*" target="res/xml/config.xml">
				<feature name="Viewport Scale">
					<param name="android-package" value="viewport_scale.ViewportScale" />
				</feature>
				</config-file><config-file parent="/*" target="AndroidManifest.xml">
				</config-file><source-file src="src/android/viewport_scale.java" target-dir="src/viewport_scale/ViewportScale" />
		</platform>
		<!-- remote coment -->
</plugin>
