<?xml version='1.0' encoding='utf-8'?>
<plugin id="viewport_scale" version="0.9" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Viewport Scale</name><js-module name="Viewport Scale" src="www/Viewport Scale.js"><clobbers target="cordova.plugins.Viewport Scale" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="Viewport Scale"><param name="ios-package" value="Viewport Scale" /></feature></config-file><source-file src="src/ios/CDVViewport Scale.m" /></platform><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Viewport Scale"><param name="android-package" value="viewport_scale.Viewport Scale" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/Viewport Scale.java" target-dir="src/viewport_scale/Viewport Scale" /></platform></plugin>